/*added header formatting */
header {
    text-align: center;

}
/*added positioning and display formatting RS*/
header h1 {
    display: inline-block;
    padding: 20px;
    font-family: "Faster One", sans-serif;
    font-size: 120px;
    background: linear-gradient(to bottom, #f32170, 
                    #ff6b08, #eedd44); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    
}
/*took out unnecessary styling*/
/*added background img formatting RS */
#background img {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  aspect-ratio: 16/9;

  position: fixed;
  top: 0;
  left: 0;
}
/*added button styling*/
button {
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 10px;
    background-color: #ff6b08;
    background: linear-gradient(to bottom, #f32170, 
    #ff6b08, #eedd44); 
    color: white;
    font-weight: 600;
    border-color: white;
}

#map {
    width: 100%;
    height: 400px;
}


/*resize options RS */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }
    
}
    
